:root {
  --black: rgb(18, 18, 18);
  --gray: rgb(128, 128, 128);
}

/* General styling */
body {
  font-family: public-sans, sans-serif;
  background-color: var(--gray);
  color: var(--black);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .75rem;
}

p {
  margin: 0;
  line-height: 1.8rem;
}

a {
  color: var(--black);
  text-decoration: none;
}